* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
} 
.boxx {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 72px;
    padding: 12px;
    background-color: #ccc;
    overflow: hidden;
}
.box {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid gray;
    border-radius: 8px; */
    /* height: 26px; */
    /* max-width: 1200px; */
    background-color: gray;
    overflow: hidden;
}
/* .box {

.elem {
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 8px;
    height: 26px;
    max-width: 1200px;
    background-color: gray;
    overflow: hidden;
}